.main-container {
    margin: 95px 0;
}

.list-group:first-child {
    padding-right: 35px !important;
}

.list-group:last-child {
    padding-right: 0px !important;
}

.card-box-link {
    padding: 1.25rem;
    min-height: 240px;
}

.card-box {
    display:block;
    border: 1px solid rgba(0,0,0,.125);
    margin: 0 auto;
    text-align: center;
    padding:30px;
    color: $color-text;
}

.Landscape {
    height: 150px;
}

.Portrait {
    width: 150px;
    height: 200px
}

button.btn {
    padding: 10px 15px;
    margin-right: 10px;
}

.page-container {
    height: 600px;
    margin: 18px;
    border: 1px solid #ced4da;
    outline: 1px solid #ced4da;
    padding: 10px;
    outline-offset: 14px;
}